body {
  background-image: url("/home/dexter/Documents/html projects/real/club/1.jpg");
  align: center;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: red;
}

.body h1 {
  color: black;
  font: normal 80px Arial sans-serif;
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: lightgrey;
  border-radius:  15px;
}

.body .intro{
  width: 80%;
  background-color: lightgrey;
  color: black;
  font: normal 16px Arial sans-serif;
  line-height: 1.6em;
  padding: 20px;
  border-radius:  15px;
  margin: 200px auto 0;
}

.body .logo{
  position: absolute;
  left: 45%;
}

.list {
  width: 80%;
  margin: auto;
  border: 1px white solid;
  background-color: lightgrey;
  padding: 20px;
  border-radius:  15px;
}

.list h3{
  text-align: left;
}

.list ul{
  padding: 10px;
  list-style: none;
}

.list li{
  padding-bottom: 8px;
  border-bottom: dotted 1px #333;
}
